@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  font-family: 'Poppins', sans-serif,
    sans-serif;
  /* background:
    linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url(https://i.pinimg.com/originals/8f/14/57/8f14578ef69a4c53352955d1e072eda6.png); */
  background: #0D1117;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: whitesmoke;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}